.page-login
  .login-wrapper
    padding 40px
    margin 0 auto
    width 500px
    margin-top 100px
    .login-container
      opacity .9
      &:not(.header)
        padding 20px 40px
        cursor pointer
        &:hover
          opacity 1
        h2
          color white
      &:first-child
        border-top-left-radius 4px
        border-top-right-radius 4px
      &:last-child
        border-bottom-left-radius 4px
        border-bottom-right-radius 4px
      &.header
        padding 20px 20px
        background-color white
      &.facebook
        background-color #3B5998
      &.google
        background-color #dd4b39
      &.twitter
        background-color #00aced
