<div class="page-login">
  <div class="login-wrapper">
    <div class="login-container header">
      <h1>Diviggle. <small>What's your next story?</small></h1>
    </div>
    <div class="login-container twitter" ng-click="login('twitter')">
      <h2><i class="fa fa-twitter"></i> Twitter</h2>
    </div>
    <div class="login-container facebook" ng-click="login('facebook')">
      <h2><i class="fa fa-facebook"></i> Facebook</h2>
    </div>
    <div class="login-container google" ng-click="login('google')">
      <h2><i class="fa fa-google-plus"></i> Google</h2>
    </div>
  </div>
</div>