.panel-title>a:hover
  text-decoration none

.pagination, .carousel a
  cursor pointer

ul.dropdown-menu li, accordion .panel-group .panel .panel-heading
  cursor pointer

.label-brown
  background-color bsBrown0
.label-blue
  background-color bsBlue0

body.modal-open
  margin-right 0px;
.dropdown-menu, .dropdown-menu:focus, .dropdown-menu:active
  outline none