html.small-screen
  #pad-wrapper h1.section-name
    text-align center
.page-home
  display block
  #pad-wrapper
    margin 0 80px 100px 80px
    h1.section-name
      margin-bottom 16px
    .section
      padding-top 30px
      margin-top 0
