.dv-avatar-cluster-container
  .avatar-wrapper
    margin 0 4px
    &:first-child
      margin-left 0
  .plus-avatars
    margin-left 4px
    background-color white
    border solid 1px #ddd
    height 22px
    padding 4px
