.opacity1
  opacity 1
  z-index 1

.opacity0
  opacity 0
  z-index -1

for speed in (.1s fast) (.25s medium) (.5s slow)
  .trans-all-{speed[1]}
    transition all speed[0] ease-in-out
  .trans-opacity-{speed[1]}
    transition opacity speed[0] linear

.btn-file
  position relative
  overflow hidden

.btn-file input[type=file]
  position absolute
  top 0
  right 0
  min-width 100%
  min-height 100%
  font-size 999px
  text-align right
  opacity 0
  outline none
  background white
  cursor inherit
  display block